<table class="table table-hover table-bordered">
	<tr class="info">
		<td align=left>Европейские размеры</td>
		<td>S</td>
		<td>M</td>
		<td>L</td>
		<td>XL</td>
		<td>XXL</td>
	</tr>
	<tr class="success">
		<td align=left>Белорусские размеры</td>
		<td>42-44</td>
		<td>44-46</td>
		<td>46-48</td>
		<td>48-50</td>
		<td>50-52</td>
	</tr>
	<tr class="warning">
		<td align=left>Высота изделия по спинке(см)</td>
		<td>60</td>
		<td>62</td>
		<td>64</td>
		<td>66</td>
		<td>68</td>
	</tr>
	<tr class="error">
		<td align=left>Ширина изделия под проймой(см)</td>
		<td>42</td>
		<td>44</td>
		<td>46</td>
		<td>48</td>
		<td>50</td>
	</tr>
</table>