<table class="table table-hover table-bordered">
	<tr class="info">
		<td align=left>Европейские размеры</td>
		<td>S</td>
		<td>M</td>
		<td>L</td>
		<td>XL</td>
		<td>2XL</td>
		<td>3XL</td>
	</tr>
	<tr class="success">
		<td align=left>Белорусские размеры</td>
		<td>44-46</td>
		<td>46-48</td>
		<td>48-50</td>
		<td>50-52</td>
		<td>52-54</td>
		<td>54-56</td>
	</tr>
	<tr class="warning">
		<td align=left>Высота изделия по спинке (см)</td>
		<td>70</td>
		<td>72</td>
		<td>74</td>
		<td>75</td>
		<td>78</td>
		<td>80</td>
	</tr>
	<tr class="error">
		<td align=left>Ширина изделия под проймой (см)</td>
		<td>49</td>
		<td>52</td>
		<td>55</td>
		<td>58</td>
		<td>61</td>
		<td>64</td>
	</tr>
</table>