- if @current_group.admin_flag
  %h1 Редактирование элементов склада
  %ul.nav.nav-tabs.nav-stacked
    - @product_types.each do |product_type|
      %li=link_to product_type.name, product_colors_path(get_product_type_id: product_type.id)
- else
  %h1 Просмотр склада
  #price_list
    = render "price_list"