- if params[:get_product_type_id]
  - if @current_group.admin_flag
    %h1 Редактирование элементов склада
    =link_to "Назад", product_sizes_path(get_product_type_id: params[:get_product_type_id])
    %h5= @product_type.name
    #price_editor
      =render "price_editor"
  - else
    %h1 Просмотр склада
    #price_list
      = render "price_list"