- if params[:get_product_type_id]
  - if @current_group.admin_flag
    %h1 Редактирование элементов склада
    %h5= @product_type.name
    =link_to "Редактирование количества", product_sizes_path(get_product_type_id: params[:get_product_type_id]), class: "span3 btn-glass btn-glass-light"
    %br
    %br
    #price_editor
      =render "price_editor"
  - else
    %h1 Просмотр склада
    #price_list
      = render "price_list"