Уважаемый клиент!

Только что в ваш личный кабинет на сайте www.modernimport.by была загружена новая спецификация.

Зайти в личный кабинет можно по следующей ссылке: http://www.modernimport.by/login



_______________

С уважением, Частное предприятие "Модерн импорт"

220036, г. Минск, ул. Волоха, 2
тел. 210-56-64
факс. 227-17-70
www.modernimport.by
modernimport@mail.ru