%h1 Уважаемый клиент!

%p Благодарим вас за регистрацию на сайте www.modernimport.by!

%p Как только аккаунт пройдет подтверждение, вы сможете его использовать.


%p _______________

%p С уважением, Частное предприятие "Модерн импорт"

%p 220036, г. Минск, ул. Волоха, 2
%p тел. 210-56-64
%p факс. 227-17-70
%p www.modernimport.by
%p modernimport@mail.ru
