Уважаемый клиент!

Благодарим вас за регистрацию на сайте www.modernimport.by!

Как только аккаунт пройдет подтверждение, вы сможете его использовать.


_______________

С уважением, Частное предприятие "Модерн импорт"

220036, г. Минск, ул. Волоха, 2
тел. 210-56-64
факс. 227-17-70
www.modernimport.by
modernimport@mail.ru
