%h1 Группы пользователей
= link_to 'Создать новую группу', new_user_group_path
%table
  - @user_groups.each do |user_group|
    %tr
      %td= user_group.name
      %td= link_to 'Редактировать', edit_user_group_path(user_group)
      %td= link_to 'Удалить', user_group, :confirm => 'Вы уверены?', :method => :delete