%h3 Частное торгово-производственное унитарное предприятие «Модерн Импорт»
%b 220036 г.Минск ул.Волоха, 2-22
%br
%p Частное предприятие «Модерн Импорт» является официальным дилером производителя трикотажной одежды торговой марки «Modern» в Республике Беларусь.
%p
	Предлагаем Вашему вниманию 
	=link_to "мужские футболки", "/futbolki", class: "underline_link"
	,
	=link_to "женские футболки", "/futbolki", class: "underline_link"
	,
	=link_to "детские футболки", "/futbolki", class: "underline_link"
	,
	=link_to "рубашки поло", "/rubashki-polo", class: "underline_link"
	,
	=link_to "толстовки", "/tolstovki", class: "underline_link"
	,
	=link_to "бейсболки.", "/beysbolki", class: "underline_link"
	Изделия изготавливаются из высококачественного узбекского хлопка, отличаются повышенной устойчивостью к усадке, кручению, а также имеют суперстойкое крашение. Большой ассортимент, широкая цветовая гамма, идеальное качество полотна и пошива изделий и самое главное оптимальное соотношение цены и качества сделали изделия торговой марки «Modern»  конкурентноспособными на потребительском и рекламном рынках.
%p На складе в г.Минске всегда в наличии все модели. В любой момент в ЧП «Модерн Импорт» Вы сможете купить оптом то количество продукции, которое Вам необходимо.
%p Так же, мы имеем возможность нанесения изображений на наши изделия по Вашему заказу (печать, вышивка, термостразы).
%p Наши постоянные клиенты уже успели оценить качество предлагаемой нами продукции, а также вежливость и ответственность нашего персонала. Для заказчиков, желающих купить  продукцию оптом, мы разработали максимально удобные и выгодные условия. Свяжитесь с нашими менеджерами – мы предложим  Вам самые  выгодные  условия.

%table
	%tr
		%td Будем рады нашему сотрудничеству.
	%tr
		%td С уважением, «Модерн импорт» ЧП.
	%tr
		%td тел. 8 (017) 327 17 70
	%tr
		%td тел/факс 8 (017) 210 56 64
	%tr
		%td моб. 8 (029) 697 78 61
	%tr
		%td моб. 8 (029) 704 95 82
	%tr
		%td=link_to "www.modernimport.by", root_path, class: "underline_link"
	%tr
		%td=mail_to "modernimport@mail.ru"