%h3 Модерн Импорт | Контакты
%h6 Цените свое время - свяжитесь с нами по телефону
%table.table.table-bordered{style: "width: 500px;"}
	%tr
		%td{rowspan:"4"} Адрес:
		%td	ул. Волоха, д. 2, комната 24
	%tr
		%td г. Минск
	%tr
		%td 220036
	%tr
		%td Республика Беларусь
	%tr
		%td e-mail:
		%td=mail_to "modernimport@mail.ru"
	%tr
		%td Телефон: 
		%td (017) 210-56-64
	%tr
		%td Телефон/Факс:
		%td (017) 327-17-70
	%tr
		%td{rowspan:"2"} Мобильные телефоны:
		%td	(029) 704-95-82
	%tr
		%td (029) 697-78-61