#home
	- if @news
		.alert.alert-info=@news.html_safe
	%h3 Женский и мужской трикотаж оптом в Минске
	%p Уважаемый посетитель! Мы рады приветствовать Вас на сайте ЧП «Модерн импорт» - официального дилера торговой марки «Модерн» в Республике Беларусь.
	%p
		Мы предлагаем Вам широкий спектр трикотажа в Минске оптом: 
		%strong футболки
		и
		%strong толстовки
		,
		%strong поло
		,
		%strong брюки
		и
		%strong бейсболки
		и уверены, что Вы сделаете правильный выбор.
	%p
		Кроме этого мы предлагаем такие
		%strong дополнительные услуги
		, как вышивка на текстиле, нанесение изображений на текстиль, а также изготовление надписей и рисунков с использованием декоративных камней, кристаллов и стразов.
	%p
		%strong Наше предложение является интересным для Вас, потому что:
	%ul
		%li наша продукция имеет высокое качество (изготовлена из высококачественного узбекского хлопка, не скручивается и не выцветает после стирки);
		%li срок исполнения от 1 дня
		%li у нас достаточно низкая стоимость с использованием гибкой системы скидок;
		%li у нас большой ассортимент продукции и огромная цветовая гамма;
		%li мы подтверждаем наличие заявленной продукции у нас на складе;
		%li мы готовы выехать к клиенту для презентации нашей продукции.
	%p Все это позволяет доставить требуемую Вам продукцию в кратчайшие сроки (1-2 дня).
	%p Мы предлагаем вам купить:
	%ul
		%li=link_to "футболки", "/futbolki", class: "underline_link"
		%li=link_to "толстовки", "/tolstovki", class: "underline_link"
		%li=link_to "рубашки поло", "/rubashki-polo", class: "underline_link"
		%li=link_to "бейсболки (кепки)", "/beysbolki", class: "underline_link"
	%p
		Вся продукция отличается высоким качеством и возможностью длительной носки. Обратите внимание, что сегодня Вы сможете купить у нас изделия из 100% хлопка – из такого материала изготовляются мужские футболки и модели для малышей, аналогичные толстовки и поло уже поступили в продажу. Все изделия отличаются высокой плотностью, что позволяет значительно увеличить срок их службы, снизить изнашиваемость, истираемость.
		%br
		%br
		Любая продукция постоянно находится на складе в Минске в необходимых Вам количествах. Вы сможете приобрести столько толстовок, бейсболок или рубашек поло сколько потребуется. Вы хотите купить продукцию
		%em оптом
		в компании «Модерн импорт»? Обратитесь к менеджерам заранее, и они подготовят необходимую партию в максимально короткие сроки. 
		%br
		%br
		Наши стандарты качества, которые предъявляются к толстовкам и остальной продукции, превосходят мировые стандарты. Вся продукция имеет высокие показатели устойчивости к сухому и мокрому трению, а также к усадке и кручению. Именно поэтому наши клиенты дружно заявляют: «Изделия MODERN – синоним качества!» Они гордятся сотрудничеством с нами и ценят наших специалистов.
		%p
			Отличное соотношение цена/качество, быстрое исполнение заказа, индивидуальный подход, большой ассортимент качественных толстовок, ярких футболок, спортивных поло и бейсболок, постоянное наличие на складе в Минске дает нам право быть лучшими на рынке в Республике Беларусь. Поэтому сотрудничество с нами для Вас будет максимально комфортным!
		Мы предложим Вам нашу продукцию быстро, качественно и с соблюдением Ваших требований.
		%br
		%br
		Если у вас возникли какие-либо трудности, вы можете получить консультацию по
		%strong телефонам в Минске:
		%br
		(017) 210-56-64
		%br
		(017) 327-17-70 (телефон/факс)