<% unless @cart.line_items.empty? %>
	<div id="well">
		<div class="nav-header">Ваша корзина <i class='icon-shopping-cart'></i>
			<div id="cart_light" style="width:20px;height:1px;float:right;padding:3px;border-radius:3px;"></div>
		</div>
		<table class="table table-bordered">
			<%= render(@cart.line_items) %>
		</table>
		<%= link_to 'Заказать', new_order_path, method: :get, class: "btn-glass btn-glass-green" %>
		<%= link_to 'Очистить', cart, method: :delete, class: "btn-glass btn-glass-red", confirm: 'Вы уверены?' %>
		<div class="clear"></div>
	</div>
<% end %>
  