<% unless @cart.line_items.empty? %>
	<div class="well">
		<div class="nav-header">Ваша корзина</div>
		<ul class= "nav nav-list"><li class="divider"></li></ul>
		<table>
			<%= render(@cart.line_items) %>
		</table>
		<%= button_to 'Заказать', new_order_path, method: :get, class: "btn btn-success btn-block" %>
		<%= button_to 'Очистить', cart, method: :delete, class: "btn btn-danger btn-block", confirm: 'Вы уверены?' %>
	</div>
<% end %>