<% unless @cart.line_items.empty? %>
	<div id="well">
		<div class="nav-header">Ваша корзина <i class='icon-shopping-cart'></i></div>
		<table class="table table-bordered">
			<%= render(@cart.line_items) %>
		</table>
		<div class="btn-group">
			<%= link_to 'Заказать', new_order_path, method: :get, class: "btn btn-success" %>
			<%= link_to 'Очистить', cart, method: :delete, class: "btn btn-danger", confirm: 'Вы уверены?' %>
		</div>
	</div>
<% end %>