/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.gradient {
	background: #ade1f8; /* Для старых браузров */
	background: -moz-linear-gradient(top, #ade1f8, #ffffff); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(100%,#ade1f8), color-stop(0%,#ffffff));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, #ade1f8, #ffffff);
	background: -o-linear-gradient(top, #ade1f8, #ffffff); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ade1f8, #ffffff); /* IE10 */
	background: linear-gradient(top, #ade1f8, #ffffff); /* CSS3 */ 
}

.center {
	text-align: center;
}

/* The html and body elements cannot have any padding or margin. */
html, body {
	height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}
#footer {
	background-color: #f5f5f5;
}
#p_footer {
	margin: 7px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
#home {
	font-size: 12px;
}
#temp_params_info {
	float: left;
	z-index: 10;
	padding: 7px;
	border: 1px solid blue;
	background-color: rgba(70,70,200,0.5);
	position: absolute;
}

.clear {
	clear: both;
}
.hide {
	display: none;
}

/* product_type#show */
#order_menu {
	display: none;
}
.link_to_color {
	font-size: 10px;
	line-height: 6px;
	text-align: center;
	width: 80px;
	height: 23px;
	padding-top: 17px;
	border: 2px solid #1c1c1c;
	border-radius: 2px;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
}

.table_to_cart {
	margin: 20px auto;
	text-align: center
}