- if @current_group && @current_group.admin_flag
  = render 'users/admin_form'
  %br
  %h1 Редактирование элементов склада
  - @products.each do |product|
    %td
      %b=link_to product.name, product_types_path(get_product_id: product.id)
- else
  %h1 Просмотр склада
  #price_list
    = render "price_list"