= @product.description_top.html_safe
%ul.thumbnails
	- @product_types.each do |product_type|
		%li.span2
			.thumbnail
				= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
				= link_to product_type.name, product_type
= @product.description_bottom.html_safe